apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

bases:
- github.com/redhat-cop/gitops-catalog/openshift-gitops-operator/overlays/stable

patches:
- patch: |-
    - op: add
      path: /spec/config
      value:
        env:
          - name: DISABLE_DEX
            value: 'false'
    - op: replace
      path: /spec/startingCSV
      value: openshift-gitops-operator.v1.2.0
  target:
    kind: Subscription
    name: openshift-gitops-operator